@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Abril+Fatface&display=swap&family=Carter+One&display=swap&family=Righteous&display=swap&family=Pacifico&display=swap&family=Bagel+Fat+One&family=Fjalla+One&family=Oswald:wght@200;300;400;500;600;700&family=Rammetto+One&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(226, 226, 226);
}

/* DISPLAY */
/* FLEX DIRECTION */
/* JUSTIFY CONTENT */
/* TEXTOS */
/* FONT-SIZE */
/* MARGIN Y PADDING */
/* MARGIN */
/* PADDING */
/* WIDTH Y HEIGHT */
/* WIDTH */
/* HEIGHT */
/* POSITIONS */
/* LISTAS */
.index-header {
  width: 100%;
  height: auto;
}
.index-header__right {
  width: 33vw;
  height: auto;
  justify-content: start;
  align-items: center;
  display: flex;
  padding: 12px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.index-header__right--hamburger {
  padding: 3px 0;
  cursor: pointer;
  z-index: 1100;
}
.index-header__right--hamburger .bar {
  width: 26px;
  height: 3px;
  display: block;
  margin: 5px 0;
  background-color: rgb(35, 35, 35);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-header__right--hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.index-header__right--hamburger.active .bar:nth-child(2) {
  opacity: 0;
  transition: all 0.01s ease-in-out;
}
.index-header__right--hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.index-header__logo {
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: start;
  display: flex;
  background-color: rgba(194, 194, 194, 0.483);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 950;
}
.index-header__logo.appear {
  padding: 12px 30px;
}
.index-header__logo--link {
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(35, 35, 35);
  font-family: "Poppins", "sans-serif";
  text-decoration: none;
  cursor: pointer;
  z-index: 100000;
  opacity: 0;
  cursor: default;
}
.index-header__logo--link.appear {
  cursor: pointer;
  opacity: 1;
}
.index-header__logo--link:hover {
  color: rgb(0, 94, 182);
}
.index-header__left {
  width: 33vw;
  height: auto;
  justify-content: end;
  align-items: center;
  display: flex;
  padding: 12px 30px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.index-header__left--carrito {
  cursor: pointer;
}
.index-header__left--carrito svg {
  width: 1.8em;
  height: 1.8em;
  color: rgb(35, 35, 35);
  transform: scaleX(-1);
}
.index-header__left--carrito .badge {
  padding: 3px 4px;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(230, 230, 230);
  font-family: "Poppins";
  text-align: center;
  border-radius: 10px;
  background-color: rgb(171, 0, 0);
  position: absolute;
  top: 18px;
  right: 60px;
  min-width: 30px;
}
.index-header__navbar {
  transition: all 0.4s ease;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 970;
}
.index-header__navbar.active {
  left: 0;
}
.index-header__navbar--subpages {
  width: 30vw;
  height: 100vh;
  justify-content: start;
  align-items: center;
  display: flex;
  background-color: rgba(162, 162, 162, 0.549);
}
.index-header__navbar--subpages--list {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 45px 10px;
  list-style: none;
}
.index-header__navbar--subpages--list--elements {
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: center;
  display: flex;
  line-height: 60px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
.index-header__navbar--subpages--list--elements:hover {
  background-color: rgba(75, 75, 75, 0.446);
}
.index-header__navbar--subpages--list--elements:hover a {
  transition: all 0.3s ease-in-out;
  transform: translateX(4px);
  color: rgb(35, 35, 35);
}
.index-header__navbar--subpages--list--elements--links {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(47, 47, 47);
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: "Poppins", "sans-serif";
  text-decoration: none;
}

#divLogoHeader2 {
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: start;
  padding: 12px 30px;
  display: flex;
  background-color: rgba(194, 194, 194, 0.483);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 950;
}

#logoHeader2 {
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(35, 35, 35);
  font-family: "Poppins", "sans-serif";
  text-decoration: none;
  cursor: pointer;
  z-index: 100000;
  opacity: 1;
  transition: all 0.2s;
}
#logoHeader2:hover {
  color: rgb(0, 94, 182);
}

.index-main, .productos-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(180deg, rgb(201, 201, 201), rgb(181, 181, 181));
}
.index-main__div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}
.index-main__div--text {
  font-size: 14.5em;
  font-weight: 700;
  color: transparent;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(270deg, rgb(35, 180, 209), rgb(10, 103, 254));
  background-clip: text;
  -webkit-background-clip: text;
  cursor: default;
}
.index-main__div--img {
  width: 17em;
  height: 17em;
  position: absolute;
  top: 32%;
  left: 37%;
  cursor: default;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.551));
}
.index-content {
  background: linear-gradient(0deg, rgb(110, 0, 110) 22%, rgb(255, 111, 0) 60%, rgb(253, 106, 10) 62%, rgb(181, 181, 181) 100%);
}
.index-content__article {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 60px 0 0 0;
}
.index-content__article--div {
  width: 85%;
  height: 50%;
  justify-content: start;
  align-items: center;
  display: flex;
  position: relative;
}
.index-content__article--div--container-img {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 255, 255, 0.124);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-in-out;
}
.index-content__article--div--container-img:hover {
  width: 64%;
  height: 100%;
}
.index-content__article--div--container-img--picture {
  height: 100%;
  border-radius: 0 30px 30px 0;
}
.index-content__article--div--container-text {
  height: 100%;
  padding: 10px 0 0 20px;
}
.index-content__article--div--container-text--word {
  font-size: 2em;
  font-weight: 500;
  color: white;
  font-family: "Poppins";
}

#contentSecond {
  justify-content: end;
  align-items: center;
}
#contentSecond .index-content__article--div {
  width: 85%;
  height: 50%;
  justify-content: end;
  align-items: center;
  display: flex;
  position: relative;
}
#contentSecond .index-content__article--div--container-img {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  border-radius: 30px 0 0 30px;
  background-color: rgba(255, 255, 255, 0.124);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-in-out;
}
#contentSecond .index-content__article--div--container-img:hover {
  width: 64%;
  height: 100%;
}
#contentSecond .index-content__article--div--container-img--picture {
  height: 100%;
  border-radius: 30px 0 0 30px;
}
#contentSecond .index-content__article--div--container-text {
  height: 100%;
  padding: 10px 20px 0 0;
  text-align: end;
}
#contentSecond .index-content__article--div--container-text--word {
  font-size: 2em;
  font-weight: 500;
  color: white;
  font-family: "Poppins";
}

.productos-main {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  background-color: rgb(207, 207, 207);
}
.productos-main__sect {
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 0 30px;
  text-align: center;
  position: relative;
}
.productos-main__sect--div {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
  padding: 0;
}
.productos-main__sect--div--card {
  width: 15em;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition: all 0.2s;
}
.productos-main__sect--div--card:hover {
  box-shadow: 7px 7px 20px -3px rgba(0, 0, 0, 0.55);
}
.productos-main__sect--div--card--img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.productos-main__sect--div--card--caption {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 6px;
  background-color: rgb(213, 213, 213);
  border-radius: 0 0 10px 10px;
  text-align: start;
}
.productos-main__sect--div--card--caption h3 {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 500;
  color: rgb(23, 23, 23);
  margin: 0;
}
.productos-main__sect--div--card--caption h4 {
  font-family: "Poppins";
  font-size: 1.4em;
  font-weight: 600;
  color: rgb(0, 89, 118);
  margin: 0;
  padding: 3px;
}
.productos-main__filter {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px 10px;
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgb(228, 228, 228);
}
.productos-main__filter--texto {
  font-size: 1em;
  font-weight: 500;
  color: rgb(0, 21, 103);
  margin: 0;
  padding: 5px;
  font-family: "Poppins";
}
.productos-main__filter--min-max {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin: 0;
  padding: 10px 0 0 12px;
  font-family: "Poppins";
}
.productos-main__filter--min-max--div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productos-main__filter--min-max--div--symbol {
  font-size: 1em;
  font-weight: 500;
  color: rgb(39, 39, 39);
  font-family: "Poppins";
}
.productos-main__filter--min-max--div--input {
  font-size: 1em;
  font-weight: 500;
  color: rgb(30, 30, 30);
  margin: 0;
  padding: 5px;
  font-family: "Poppins";
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
}
.productos-main__filter--min-max--div--input::-webkit-inner-spin-button, .productos-main__filter--min-max--div--input .carrito-main__sect--list--product--info--text--cantidad--input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.productos-main__filter--min-max--button {
  font-size: 1em;
  font-weight: 500;
  color: rgb(235, 235, 235);
  margin: 20px 0 0 10px;
  padding: 3px;
  background-color: rgb(0, 89, 118);
  border: 0;
  border-radius: 8px;
  font-family: "Poppins";
}

#errorFilter {
  font-size: 0.7em;
  font-weight: 500;
  color: red;
  padding: 10px 0 0 10px;
  font-family: "Poppins";
}

#spinnerContainer {
  min-height: 100vh;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  overflow: hidden;
  position: absolute;
  z-index: 899;
}
#spinnerContainer #spinner {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 4px solid #888888;
  border-top: 4px solid #005187;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  overflow: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selected-main {
  width: 100%;
  height: 100vh;
  background-color: rgb(207, 207, 207);
}
.selected-main__sect {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 60px 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.selected-main__sect--img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-main__sect--img--product {
  width: 52%;
  height: auto;
}
.selected-main__sect--info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}
.selected-main__sect--info--name {
  font-size: 3em;
  font-weight: 500;
  color: rgb(183, 47, 47);
  font-family: "Poppins";
}
.selected-main__sect--info--price {
  font-size: 2em;
  font-weight: 600;
  color: rgb(25, 25, 25);
  font-family: "Poppins";
}
.selected-main__sect--info--cantidad {
  margin: 20px 0 0 0;
}
.selected-main__sect--info--cantidad--input {
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  padding: 3px 6px;
  min-width: 110px;
  font-family: "Poppins";
  background-color: rgb(237, 237, 237);
  border: none;
  border-radius: 5px;
}
.selected-main__sect--info--cantidad--input--arrow {
  width: 1.2em;
  height: auto;
  margin: 0 0 0 5px;
  color: rgb(0, 94, 255);
  transition: all 0.1s ease;
}
.selected-main__sect--info--cantidad--input--arrow.active {
  rotate: 180deg;
}
.selected-main__sect--info--lista {
  width: 10%;
  height: auto;
  position: absolute;
  top: 63%;
  left: auto;
  visibility: hidden;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.75);
}
.selected-main__sect--info--lista.active {
  visibility: visible;
}
.selected-main__sect--info--lista--ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(237, 237, 237);
}
.selected-main__sect--info--lista--ul--li {
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 5px 0 5px 10px;
  font-family: "Poppins";
  border-bottom: 1px solid rgb(201, 201, 201);
  cursor: pointer;
}
.selected-main__sect--info--add {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(213, 213, 213);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 10px;
  font-family: "Poppins";
  background-color: rgb(0, 94, 255);
  border: none;
  border-radius: 8px;
}
.selected-main__sect--info--add svg {
  width: 1.4em;
  height: auto;
  margin: 0 0 0 10px;
}

.carrito-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 70px 50px 0 50px;
  min-height: 100vh;
  background-color: rgb(207, 207, 207);
}
.carrito-main__sect {
  width: 80%;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px 30px 0;
}
.carrito-main__sect--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 3px 3px 3px;
  justify-content: center;
  list-style: none;
}
.carrito-main__sect--list--product {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 2px 4px 2px;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgba(174, 174, 174, 0.633);
  border-radius: 10px;
}
.carrito-main__sect--list--product--info {
  display: flex;
  min-height: 100px;
}
.carrito-main__sect--list--product--info--img {
  width: 9em;
  height: auto;
  margin: 0 15px 0 0;
  padding: 0;
  border-radius: 10px 0 0 10px;
}
.carrito-main__sect--list--product--info--text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.carrito-main__sect--list--product--info--text--name {
  font-size: 1em;
  font-weight: 400;
  color: rgb(45, 45, 45);
  padding: 20px 0 0 0;
  font-family: "Poppins";
  cursor: pointer;
}
.carrito-main__sect--list--product--info--text--price {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(21, 21, 21);
  font-family: "Poppins";
}
.carrito-main__sect--list--product--info--text--cantidad {
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px 0 0 0;
}
.carrito-main__sect--list--product--info--text--cantidad--input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(21, 21, 21);
  font-family: "Poppins";
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(0, 64, 203);
  border-radius: 5px;
  cursor: default;
}
.carrito-main__sect--list--product--info--text--cantidad--input::-webkit-inner-spin-button, .carrito-main__sect--list--product--info--text--cantidad--input .carrito-main__sect--list--product--info--text--cantidad--input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.carrito-main__sect--list--product--info--text--cantidad--buttons {
  width: auto;
  height: auto;
  padding: 2px 5px;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(0, 64, 203);
  font-family: "Poppins";
  background-color: transparent;
  border: none;
}
.carrito-main__sect--list--product--trash {
  margin: 10px;
  width: 1.8em;
  height: auto;
  cursor: pointer;
  color: rgb(141, 10, 10);
}
.carrito-main__sect--vacio {
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: 0;
  text-align: center;
}
.carrito-main__sect--vacio--ups {
  font-size: 1.4em;
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-family: "Poppins";
}
.carrito-main__sect--vacio--comprar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(210, 210, 210);
  margin: 15px 0 0 0;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(9, 77, 172);
  font-family: "Poppins";
}
.carrito-main__sect--vacio--comprar--catalogo {
  text-decoration: none;
}
.carrito-main__sect--vacio--comprar:hover {
  background-color: rgb(9, 57, 124);
}
.carrito-main__final {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 14px;
  min-width: 400px;
  position: sticky;
  top: 70px;
  left: 0;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
}
.carrito-main__final--resumen {
  width: 100%;
  height: auto;
  padding: 0 0 10px 0;
  font-size: 1em;
  font-weight: 500;
  color: rgb(27, 27, 27);
  font-family: "Poppins";
  text-align: start;
  border-bottom: 1px solid rgb(113, 113, 113);
}
.carrito-main__final--productos {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 30px 0 5px 0;
  font-size: 0.9em;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-family: "Poppins";
  text-align: start;
}
.carrito-main__final--total {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 15px 0;
  padding: 0;
}
.carrito-main__final--total--word {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  color: rgb(18, 18, 18);
  font-family: "Poppins";
}
.carrito-main__final--total--cash {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  color: rgb(17, 153, 2);
  font-family: "Poppins";
}
.carrito-main__final--buy {
  width: 100%;
  height: auto;
  font-size: 1em;
  font-weight: 400;
  color: rgb(215, 215, 215);
  margin: 10px 5px 3px 5px;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 10px;
  border: none;
  background-color: rgb(9, 77, 172);
}
.carrito-main__final--buy:hover {
  background-color: rgb(9, 57, 124);
}

#spinnerContainer {
  min-height: 100vh;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  overflow: hidden;
  position: absolute;
  z-index: 899;
}
#spinnerContainer #spinner {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 4px solid #888888;
  border-top: 4px solid #005187;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  overflow: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
