.index{
    &-header{
        @include widhei (100%, auto);
        &__right{
            @include widhei(33vw, auto);
            @include justali (start, center);
            @include display (flex);
            @include pad (12px 30px);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            &--hamburger{
                @include pad(3px 0);
                cursor: pointer;
                z-index: 1100;
                .bar{
                    @include widhei (26px, 3px);
                    @include display (blo);
                    @include mar (5px 0);
                    background-color: rgb(214, 214, 214);
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                &.active{
                    & .bar:nth-child(1){
                        background-color: rgb(47, 47, 47);
                        transform: translateY(8px) rotate(45deg);
                    }
                    & .bar:nth-child(2){
                        opacity: 0;
                        transition: all 0.01s ease-in-out;
                    }
                    & .bar:nth-child(3){
                        background-color: rgb(47, 47, 47);
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        }
        &__logo{
            transition: 0.7s;
            @include widhei (100vw, 60px);
            @include justali (center, start);
            @include display (flex);
            background-color: rgb(25, 25, 25, 0.483);
            backdrop-filter: blur(20px);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 950;
            &.appear{
                transition: all 0.7s;
                @include pad (12px 30px);
            }
            &--link{
                transition: all 0.4s;
                @include texts (1.5em, 600, rgb(195, 195, 195));
                font-family: 'Abril Fat Face', 'sans-serif';
                text-decoration: none;
                cursor: pointer;
                z-index: 100000;
                opacity: 0;
                &.appear{
                    transition: all 0.4s;
                    opacity: 1;
                }
            }
        }
        &__left{
            @include widhei(33vw, auto);
            @include justali (end, center);
            @include display (flex);
            @include pad (12px 30px);
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000;
            &--carrito{
                cursor: pointer;
                & svg{
                    @include widhei (1.8em, 1.8em);
                    color: rgb(214, 214, 214);
                    transform: scaleX(-1);
                }
                &:hover{
                    transform: scale(1.1)
                }
            }
        }
        &__navbar{
            transition: all 0.4s ease;
            backdrop-filter: blur(20px);
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 970;
            &.active{
                left: 0
            }
            &--subpages{
                @include widhei (30vw, 100vh);
                @include justali (start, center);
                @include display (flex);
                background-color: rgba(101, 101, 101, 0.872);
                &--list{
                    @include widhei (100%, 100%);
                    @include justali (center, start);
                    @include display (flex);
                    @include flex (col);
                    @include pad (45px 10px);
                    list-style: none;
                    &--elements{
                        @include widhei (100%, auto);
                        @include justali (start, center);
                        @include display (flex);
                        @include pad (10px);
                        line-height: 60px;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-color: rgba(75, 75, 75, 0.446);
                            & a{
                                transition: all 0.3s ease-in-out;
                                transform: translateX(4px);
                                color: rgb(39, 39, 39)
                            }
                        }
                        &--links{
                            @include texts (1.5rem, 300, rgb(47, 47, 47));
                            font-family: 'Poppins' , 'sans-serif';
                            text-decoration: none
                        }
                    }
                }
            }
        }
    }
}