.index{
    &-main{
        @include widhei (100%, 100vh);
        @include justali (center, center);
        @include display (flex);
        background: linear-gradient(180deg, rgb(201, 201, 201), rgb(181, 181, 181));
        &__div{
            @include widhei (100%, 100vh);
            @include display (flex);
            @include justali (center, center);
            @include pad (60px 0 0 0);
            text-align: center;
            position: relative;
            overflow-y:hidden;
            &--text{
                @include texts (14.5em, 500, transparent);
                font-family: 'Abril Fatface', sans-serif;
                background: linear-gradient(270deg, #0A67FE, #45BCD3);
                background-clip: text;
                -webkit-background-clip: text;
                cursor: default;
            }
            &--img{
                @include widhei (17em, 17em);
                position: absolute;
                top: 32%;
                left: 37%;
                cursor:default;
            }
        }
    }
    &-content{
        background: linear-gradient(0deg, rgb(110, 0, 110)22%, rgba(255,111,0,1) 60%, rgba(253,106,10,1) 62%, rgb(181, 181, 181) 100%);
        &__article{
            @include widhei(100%, 100vh);
            @include display (flex);
            @include justali (start, center);
            @include pad(60px 0 0 0);
            &--div{
                @include widhei(85%, 50%);
                @include justali (start, center);
                @include display (flex);
                position: relative;
                &--container{
                    &-img{
                        @include widhei (60%, 100%);
                        @include display (flex);
                        @include justali (end, center);
                        position: relative;
                        border-radius: 0 30px 30px 0;
                        background-color: rgba(255, 255, 255, 0.124);
                        backdrop-filter: blur(5px);
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            @include widhei (64%, 100%);
                        }
                        &--picture{
                            @include hei(100%);
                            border-radius: 0 30px 30px 0;
                        }
                    }
                    &-text{
                        @include hei(100%);
                        @include pad (10px 0 0 20px);
                        &--word{
                            @include texts (2em, 500, white);
                            font-family: 'Poppins'
                        }
                    }
                }
            }
        }
    }
}
#content{
    &Second{
        @include justali (end, center);
        .index-content__article--div{
            @include widhei(85%, 50%);
            @include justali (end, center);
            @include display (flex);
            position: relative;
            &--container{
                &-img{
                    @include widhei (60%, 100%);
                    @include display (flex);
                    @include justali (start, center);
                    position: relative;
                    border-radius: 30px 0 0 30px;
                    background-color: rgba(255, 255, 255, 0.124);
                    backdrop-filter: blur(5px);
                    transition: all 0.5s ease-in-out;
                        &:hover{
                            @include widhei (64%, 100%);
                        }
                    &--picture{
                        @include hei(100%);
                        border-radius: 30px 0 0 30px;
                    }
                }
                &-text{
                    @include hei(100%);
                    @include pad (10px 20px 0 0);
                    text-align: end;
                    &--word{
                        @include texts (2em, 500, white);
                        font-family: 'Poppins'
                    }
                }
            }
        }
    }
}