.productos{
    &-main{
        @extend .index-main;
        @include widhei (100%, 100%);
        @include justali (center, start);
        background-color: rgb(207, 207, 207);
        &__sect{
            @include widhei (100%, auto);
            @include justali (start, center);
            @include display (flex);
            @include flex (wrap);
            @include pad (60px 20px 0 30px );
            text-align: center;
            position: relative;
            &--div{
                @include justali (center, center);
                @include display (flex);
                @include marpad (10px, 0);
                &--card{
                    @include widhei (15em, auto);
                    @include display (flex);
                    @include flex (col);
                    border-radius: 10px;
                    backdrop-filter: blur(20px);
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover{
                        box-shadow: 7px 7px 20px -3px rgba(0,0,0,0.55);
                    }
                    &--img{
                        @include widhei (100%, 100%);
                        border-radius: 10px 10px 0 0
                    }
                    &--caption{
                        @include widhei (100%, auto);
                        @include marpad (0, 6px);   
                        background-color: rgb(213, 213, 213);
                        border-radius: 0 0 10px 10px;
                        text-align: start;
                        h3{
                            font-family: 'Poppins';
                            @include texts (1em, 500, rgb(23, 23, 23));
                            @include mar (0)
                        }
                        h4{
                            font-family: 'Poppins';
                            @include texts (1.4em, 600, rgb(0, 89, 118));
                            @include marpad (0, 3px)
                        }
                    }
                }
            }
        }
        &__filter{
            @include widhei (auto, 100vh);
            @include display (flex);
            @include flex (col);
            @include pad (70px 10px);
            position: sticky;
            top: 0;
            right: 0;
            background-color: rgb(228, 228, 228);
            &--texto{
                @include texts(1em, 500, rgb(0, 21, 103));
                @include marpad (0, 5px);
                font-family: 'Poppins';
            }
            &--min-max{
                @include texts(0.8em, 500, rgb(42, 42, 42));
                @include marpad (0, 10px 0 0 12px);
                font-family: 'Poppins';
                &--div{
                    @include display (flex);
                    @include justali (center, center);
                    &--symbol{
                        @include texts (1em, 500, rgb(39, 39, 39));
                        font-family: 'Poppins'
                    }
                    &--input{
                        @include texts(1em, 500, rgb(30, 30, 30));
                        @include marpad (0, 5px);
                        font-family: 'Poppins';
                        border: 1px solid rgb(196, 196, 196);
                        border-radius: 5px;
                        &::-webkit-inner-spin-button, .carrito-main__sect--list--product--info--text--cantidad--input::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                        }
                    }
                }
                &--button{
                    @include texts (1em, 500, rgb(235, 235, 235));
                    @include marpad (20px 0 0 10px, 3px);
                    background-color: rgb(0, 89, 118);
                    border: 0;
                    border-radius: 8px;
                    font-family: 'Poppins';
                }
            }
            
        }
    }
}
#errorFilter{
    @include texts (0.7em, 500, red);
    @include pad (10px 0 0 10px);
    font-family: 'Poppins'
}

#spinnerContainer{
    @include widhei (100%, 100vh);
    @include justali (center, center);
    background-color: rgb(207, 207, 207);
    overflow: hidden;
    position: absolute;
    z-index: 899;
    #spinner{
        @include widhei (40px, 40px);
        @include justali (center, center);
        @include mar(20px auto);
        border: 4px solid #888888;
        border-top: 4px solid #005187;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        overflow: hidden;
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}