*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 html{
    font-size: 62,5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
 }

@import "_vars";
@import "_mixins";
@import "_header";
@import "_landing";
@import "_footer";